[user]
	name = John Buxton
	email = 
[difftool]
  prompt = false
[alias]
  d = difftool
  dc = diff --cc
  diffc = diff --name-status --oneline [core]
	alias = config --get-regexp ^alias\\.
	co = checkout
	br = branch
	lol = log --oneline --decorate --graph --branches
	st = status
  logg = log --pretty=format:'%h %ce %cd - %s' --graph --stat
  lg0 = log --oneline
  editor = vim
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar) %G? %C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s %C(reset) %C(dim white)- %an%C(reset)' --all
  lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s %C(reset) %C(dim white)- %an%C(reset)' --all --show-signature
#for following to work https://github.com/jwiegley/git-scripts/blob/master/git-forest needs to be installed
#lg3 = forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse
  lognames = log --oneline --name-only --pretty=format:'%h %ce %cd - %s' --graph --stat
  lgn = log --oneline --name-only --pretty=format:'%h %ce %cd - %s' --graph --stat -- . ':doc/*html'
[core]
	excludesfile = ~/.gitignore
[diff]
  tool = vimdiff

[fetch]
  prune = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
