unset zle_bracketed_paste   # paste executes immediately (no bracketed-paste wrapper)

export SHELL=/bin/zsh
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000
setopt inc_append_history
setopt interactivecomments
setopt auto_cd
setopt autopushd

bindkey -v  # vi key bindings
autoload edit-command-line; zle -N edit-command-line
bindkey -M vicmd v edit-command-line  # v in normal mode opens command in vim

# Arrow key bindings
bindkey "^[[C" forward-word         # right arrow → forward word

# Completion setup
zmodload zsh/complist
autoload -Uz compinit
compinit
_comp_options+=(globdots)   # include dotfiles in completion
zstyle ':completion:*' completer _complete
zstyle ':completion:*' matcher-list '' 'm:{[:lower:][:upper:]}={[:upper:][:lower:]}' '+l:|=* r:|=*'
zstyle ':completion:*' menu select  # navigable menu on TAB

# Vim keys in tab completion menu
bindkey -M menuselect 'h' vi-backward-char
bindkey -M menuselect 'k' vi-up-line-or-history
bindkey -M menuselect 'l' vi-forward-char
bindkey -M menuselect 'j' vi-down-line-or-history
